<!-- JAVASCRIPT -->
<script rel="javascript" src="javascripts/jquery-1.11.2.min.js"></script>
<script rel="javascript" src="javascripts/lightbox.min.js"></script>
<script rel="javascript" src="javascripts/scripts.js"></script>


</body>
</html>