<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adrianne J.</title>
  <meta charset="UTF-8">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="stylesheets/adri.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/animations.css">

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>
<body>

