<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calvin Jhunjhnuwala</title>
  <meta charset="UTF-8">

  <!-- GOOGLE FONT -->
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- JAVASCRIPT -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script rel="javascript" src="javascripts/jquery.fancybox.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="stylesheets/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/mockingbird.css">




</head>
<body>

