html {
    max-width: 100%;
    height: 100vh;
    border: 30px solid #F6B2B2;
    border-bottom: none;
}

html, body {
    margin: 0;
    padding: 0;
}

.big-poppa {
    display: flex;
    width: 100%;
}

.hero-banner {
    width: 100%;
    height: 100vh;
    background: #1E242F;
}

$columns: 16;

@media (min-width: $mq-large) {
    @for $i from 1 through $columns {
        .notorious-big-#{$i} {
            width: ((100 / $columns) * $i) * 1%;
            padding: 2px 8px;
        }
    }
}
    
@media (min-width: $mq-medium) {
    @for $i from 1 through $columns {
        .notorious-md-#{$i} {
            width: ((100 / $columns) * $i) * 1%;
            padding: 2px 6px;
        }
    }
}
    
@media (min-width: $mq-ipad) {
    @for $i from 1 through $columns {
        .notorious-sm-#{$i} {
            width: ((100 / $columns) * $i) * 1%;
            padding: 2px 4px;
        }
    }
}
    
@media (min-width: $mq-small) {
    @for $i from 1 through $columns {
        .notorious-xs-#{$i} {
            width: ((100 / $columns) * $i) * 1%;
            padding: 2px;
        }
    }
}


// CHART ANIMATION
$colors-list: #111 #222 #333 #444 #555 #666 #777 #888 #999 #AAA #BBB #CCC #DDD;

@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .lines-#{$i} {
        margin-bottom: #{$i*2.5}px;
        animation-delay: #{$i/10}s;
        content: "";
        height: calc( ( (100vh - 30px) / 10) - #{$i*2.5}px );
        background: $current-color;
    }
}

@for $i from 1 through 10 {
    .lines-#{$i} {
        margin-bottom: #{$i*2.5}px;
        animation-delay: #{$i/10}s;
        content: "";
        height: calc( ( (100vh - 30px) / 10) - #{$i*2.5}px );
        background-color: #F6B2B2;
        // opacity: #{$i};
    }
}

#woot {
    background: url(http://i.imgur.com/k3d4fCB.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: border-box;
}

