<% include partials/header %>
<% include partials/navbar %>

<!-- <div class="hero-banner"></div> -->
<div class="big-poppa">
    <div class="notorious-xs-16" id="woot">
        <div class="lines-1"></div>
        <div class="lines-2"></div>
        <div class="lines-3"></div>
        <div class="lines-4"></div>
        <div class="lines-5"></div>
        <div class="lines-6"></div>
        <div class="lines-7"></div>
        <div class="lines-8"></div>
        <div class="lines-9"></div>
        <div class="lines-10"></div>
    </div>
    <!-- <div class="notorious-xs-16 notorious-sm-8">
        <div class="lines-1"></div>
        <div class="lines-2"></div>
        <div class="lines-3"></div>
        <div class="lines-4"></div>
        <div class="lines-5"></div>
    </div> -->
</div>

<% include partials/footer %>