<% include partials/header %>
<% include partials/navbar %>


<div class="container-fluid ">
  <div class="row">

    <div class="lightbulb">
      <h1>Welcome to this website</h1>
      <img src="/images/icons/lightbulb.png" id="lightbulb_image" style="height:100px"><br><br>
      <a class="lights">Turn the lights on!</a>
    </div>

    <div class="background">
      <div class="first">
        <h2>CALVIN JHUNJHNUWALA</h2>
        <h4>WEB DEVELOPER  |  BEAT GENERATIONALIST  | TECH-ENTHUSIAST</h4>
      </div>
    </div>

  </div>
</div>



<script>

$(function() {
  $("a.lights").click(function(){
    $(".background").addClass("brighten");
    $("a.lights").addClass("none");
    $(".lightbulb h1").addClass("none");
    $("#lightbulb_image").addClass("none");
  });
});

</script>
<% include partials/footer %>