<% include partials/header %>
<% include partials/navbar %>

<div class="container-fluid">
  <div class="row col-lg-12">

    <div class="header">
      <h3>Calvin Jhunjhnuwala</h3>
      <h4>San Francisco, CA</h4>
    </div>

    <div class="nav">
      <a class="home" href="#" class="current" id="show_about" title="about">About Me</a>
      <a class="home" href="#" id="show_projects" title="projects">My Projects</a>
      <a class="home" href="#" id="show_web" title="web">Web Skills</a>
      <a class="home" href="#" id="show_experience" title="experience">Work  Experience</a>
    </div>

    <div class="col-lg-5 col-md-5" id="content" style="padding-left: 5px">

      <div class="current" id="about" style="background: rgba(0, 0, 0, 0.6)">
        <p id="heading">Full-Stack Web Developer | Tech-Enthusiast | Beat Generationalist</p><br>
        <p>I am a story-teller through web design.</p>
        <p>Born in Hong Kong, Southern California-raised, I love reading National Geographic while sipping on a strong coffee. Technology is constantly evolving and I'm just trying to stay one step ahead.</p>
      </div>


      <div id="projects">
        <div class="prj col-lg-6 col-md-6">
          <p><a href="http://oneironaut.herokuapp.com">Oneironaut</a></p>
          <a href="/images/websites/oneironaut.png" data-lightbox="image-1" data-title="I built this site based on the fact that there is not a good dream blogging website on the web right now. Most of them are outdated websites and I wanted to take a approach this from a new angle and bring some color to the world of dreams. I plan on rennovating and remaking this website when I get a chance to do so.">
          <img class="image" src="/images/websites/oneironaut.png" alt="oneironaut">
          </a>
        </div>

        <div class="prj col-lg-6 col-md-6">
          <p><a href="http://vex-on.herokuapp.com">Vex-On</a></p>
          <a href="/images/websites/vex.png" data-lightbox="image-2" data-title="Vex-On is a flag website that I created simply because I love flags. Prior to joining GA, I had made a temporary website on SquareSpace and I did not think I would be able to create it on my own. Well, several months later, I did. Seeding data and using Node.js, Javascript, Pure (styling framework), and some jQuery, I created this website. "Vex" refers to vexillology which is the study of flags.">
          <img class="image" src="/images/websites/vex.png" alt="vex-on">
          </a>
        </div>

        <div class="prj col-lg-6 col-md-6">
          <p><a href="http://moonwalk.herokuapp.com">Moonwalk</a></p>
          <a href="/images/websites/moonwalk.png" data-lightbox="image-3" data-title="Moonwalk scrapes CraigsList for data. We grab current rental rates from a specific area and we get the prices for single family homes. Then we calculate the return on investment if you purchased one of the homes and charged current market rates to a tenant.">
          <img class="image" src="/images/websites/moonwalk.png" alt="vex-on">
          </a>
        </div>

        <div class="prj col-lg-6 col-md-6">
          <p><a href="http://fmblessedlife.herokuapp.com">#FMBlessedLife</a></p>
          <a href="/images/websites/fmbl.png" data-lightbox="image-4" data-title="I find humor in hashtags and the ones chosen to supplement a status or an image. I was curious to find out whether or not Twitter users were more likely to use the hashtag '#blessed' versus '#fml' and in what context they were used.">
          <img class="image" src="/images/websites/fmbl.png" alt="fmbl">
          </a>
        </div>
      </div>

      <div id="web" style="background: rgba(0, 0, 0, 0.6)">
        <h4>Languages</h4>
        <p>Javascript, Ruby, HTML5, CSS</p>

        <h4>Framework</h4>
        <p>Node.js, Express.js, Rails, Angular</p>

        <h4>Libraries</h4>
        <p>JQuery, Nokogiri</p>

        <h4>Database</h4>
        <p>SQL, PostgreSQL, Sequelize</p>

        <h4>Authentication</h4>
        <p>BCrypt, OAuth</p>

        <h4>Other</h4>
        <p>Bootstrap, Git/ GitHub, Heroku Deployment</p>
      </div>

      <div id="experience" style="background: rgba(0, 0, 0, 0.6); text-align:left">
        <a href="/images/icons/calvinj_resume.pdf" target="_blank" style="background-color:purple; padding:5px; clear: right; text-align:left" download>Download my resume.</a>
        <div class="icon">
          <a href="https://github.com/Calvinjwala"><img class="icon" src="/images/icons/github.png" alt=""></a>
          <a href="https://www.facebook.com/calvin.jhunjhnuwala"><img class= "icon" src="/images/icons/facebook.png" alt=""></a>
          <a href="https://www.linkedin.com/in/cjhunjhnuwala"><img class="icon" src="/images/icons/linkedin.png" alt=""></a>
          <a href="https://twitter.com/calvin_jhun"><img class="icon" src="/images/icons/twitter.png" alt=""></a>
        </div>
        <h4>General Assembly - Teaching Assistant</h4>
          <p>
          General Assembly is a school that aims to propel people's careers, from 0 to 60 in a matter of weeks. I am a product of this school and now I am responsible for helping students with their projects, aiding in homework, and giving support.
          </p><br>
        <h4>Dedicated Defined Benefit Services - Marketing Assistant</h4>
          <p>
          Updated Powerpoint presentations, website content, and enhanced marketing material (brochures, forms, etc.), relaunched new advertising campaigns in Google Adwords yielding 37 new leads YOY, and compiled monthly reports from Google Analytics to determine best keywords for better ROI.
          </p><br>
        <h4>The Melt - Business Development</h4>
          <p>
          Responsible for medium-volume (30-40) cold-calling California corporations and organizations for catering, leading to over 45 events that yielded around $24,000, built the The Melt’s Salesforce CRM workflow from implementation to present day, and researched, compiled, and added over 800 California companies to The Melt’s CRM system.
          </p><br>
        </div>
      </div>
  </div>
</div>
<script>
$(document).ready(function(){
  if (window.innerWidth < 450) {
    $('.home').css ({
      'padding-left': '0px'
    })
  }
});

$(window).resize(function(){
  if (window.innerWidth < 450) {
    console.log("hello")
    $('.home').css ({
      'padding-left': '0px'
    });
  }
  else if (window.innerWidth > 450) {
    $('.home').css ({
      'padding-left': '10px'
    });
  }
});

$('#projects, #web, #experience').hide();

$('.home').click(function() {
    var id = (this.title)
    var $content = $('#' + id);
    if ($('.current').length === 0) {
      showContent($content)
    }
    else {
      $('.current').fadeOut(300, function() {
        showContent($content)
      });
    }
});

function showContent(content) {
    content.fadeIn(600);
    $('.current').removeClass('current');
    content.addClass('current');
}

</script>



<% include partials/footer %>