<% include partials/header %>
<% include partials/navbar %>


<div class="container-fluid ">
  <div class="row">

    <div class="lightbulb">
      <h1>Welcome to this website</h1>
      <img src="/images/icons/lightbulb.png" id="lightbulb_image" style="height:100px"><br><br>
      <a class="lights">Turn the lights on!</a>
    </div>

    <div class="background">
      <div class="first">
        <h3>calvin j.</h3>
      </div>
    </div>

  </div>
</div>



<script>

$(function() {
  $("a.lights").click(function(){
    $(".background").addClass("brighten");
    $("a.lights").addClass("none");
    $(".lightbulb h1").addClass("none");
    $("#lightbulb_image").addClass("none");
  });
});

  // $(window).load(function(){
  //   var theWindow = $(window);
  //   $(function() {
  //     $(".background").onload
  //   })
  // });

//   $(document).ready(function() {
//     console.log("ready!");
//     $(".background button").click(){
//       $(".background").animate({
//         webkitFilter: "none",
//       }), 1000;
//     });
//   });

//   $(function() {
//     $(".background").hover(function(){
//         $("img").toggleClass("grey");
//     });
// });

  // jQuery is available
  // $(function() {
  //   $(".sunset").hover(function(){
  //     $(".background").animate({
  //       marginLeft: "50px",
  //     }),
  //     $(".box.blue").animate({
  //       marginLeft: "0px",
  //       zIndex: "-1";
  //     }), 1000;
  //   }
  //  });


</script>
<% include partials/footer %>



