html body {
  width: 100%;
  height: 100%;
}

.lightbulb {
  text-align: center;
  margin: 0auto;
  margin-top: 380px;
  vertical-align: middle;
  z-index: 1;
  } .lightbulb h1 {
  color: white;
}

.lights {
  font-color: white !important;
  margin: 0auto;
}

#lightbulb{
  -webkit-filter: brightness(110%);
}

.background {
  z-index: -1;
  background-image: url(/images/backgrounds/lake.jpg);
  position: fixed;
  top: 0;
  -webkit-filter: brightness(7%);
  -webkit-transition:-webkit-filter 0.8s ease-in-out;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.brighten {
 -webkit-filter: brightness(100%);
 -webkit-filter: hue-rotate(30deg);
}

.darken {
 -webkit-filter: brightness(55%);
 margin-top: 0px;
}

.none {
  display: none;
}

.first {
  text-align: center;
  margin: 0auto;
  vertical-align: middle
}




.background_two {
  position: relative;
  top: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100%
}

