

a {
  color: #ffaa00;
}

a:hover {
  color: #ffaa00;
}

.nav {
  padding-left: 20px;
}


/*.current {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  padding-right: 9px;
  padding-left: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.home {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 10px;
}

.btn {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 5px;
}

.content {
  margin-top: 30px;
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
}

.prj {
  margin-top: 12px;
  display: inline-block;
}

.image {
  width: 220px;
  height: 110px;
  padding: 5px;
}

img:hover {
  background: none;
  background-color: #561DE2;
}

.icon {
  display: inline-block;
  height: 50px;
  padding: 5px;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

#heading {
  font-size: 15px;
}*/
